<%# def wrap(s, width=78)
    s.gsub(/(.{1,#{width}})(\s+|\Z)/, "\\1<br>").html_safe
   end %>



<% if current_user == nil %>
  <form action="<%= register_path %>">
      <input type="submit" id= 'register_button' value="Register!">
  </form>
  <form action="<%= login_path %>">
      <input type="submit" id='register_button' value="Log in">
  </form>
  <form action="<%= jobs_path %>">
      <input type="submit" id='register_button' value="Search Jobs">
    </form>
  <br><br>
<% else %>
  <form action="<%= logout_path %>">
      <input type="submit" id='register_button' value="Log out">
  </form>
  <br><br>
<% end %>

<% if current_user == nil || current_user.status == 'career/education' %>
<div class='pull-right'>
  <h1>Job Openings</h1>
  <% @jobs.each do |job| %>

    <div class='well'>
      
      <h2><%=link_to job.title, job_path(:id => job.id) %></h2>
        <li>Company: <%= job.company %></li>
        <li>Salary: <%= job.salary %></li>
        <li><%= job.address %></li>

    </div>
  <% end %>
</div>

<% end %>

<h4>Post your resume, college courses, references, and more. <br>
    We are giving you access to world class educational<br> resources so you can get ahead in life.
 </h4>

<div class='pull-left'>
  <h1>Our Skills</h1> 
  <% if current_user == nil || current_user.status == 'Employer' %>
    <form action="<%= new_job_path %>">
        <input type="submit" value="Post Job, 100% Free">
    </form><br>
  <% end %>

  <%= render 'skills/list', cat: @skills %>
 
</div>

<%= paginate_stuff %>