<%# def wrap(s, width=78)
    s.gsub(/(.{1,#{width}})(\s+|\Z)/, "\\1<br>").html_safe
   end %>



<% if current_user == nil %>
  <form action="<%= register_path %>">
      <input type="submit" id= 'register_button' value="Register!">
  </form>
  <form action="<%= login_path %>">
      <input type="submit" id='register_button' value="Log in">
  </form>
  
  <form action="<%= new_job_path %>">
      <input type="submit" id='register_button' value="Post Job, 100% Free">
    </form>
  <br><br>
<% else %>
  <form action="<%= logout_path %>">
      <input type="submit" id='register_button' value="Log out">
  </form>
  <br><br>
<% end %>

<% if current_user == nil || current_user.status == 'career/education' %>
<div class='pull-right'>
  <h1>Job Openings</h1>

        <%= form_tag jobs_path, :method => :get do %>
 <p>Search by company name, Keywords, or title<br>
    <%= text_field_tag :tag, params[:tag] %>
  </p>
<p>Search within (miles)<br>
    <%= text_field_tag :miles, params[:miles]  %><br>
    of (city, State)<br>
    <%= text_field_tag :search, params[:search] %><%#should be city/state %>
<br><br>   
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>





  
</div>

<% end %>


<div class='pull-left'>
  <h1>Learn a Skill</h1>

  <%= form_tag skills_path, :method => :get do %>
 <p>what do you want to learn?<br>(You can also click "Earn Skills" above to see a list)<br>
    <%= text_field_tag :tag, params[:tag] %>
  </p>
    <%= submit_tag "Search", :name => nil %>
  </p>

<% end %>



  <%#= render 'skills/list', cat: @skills %>
 
</div>